body {
    font-family: sans-serif;
}

form fieldset {
    padding: 1.2em;
    margin-bottom: 1em;
}

form fieldset legend {
    font-weight: bold;
    font-size: 1.2em;
}


form fieldset input[type="text"], form fieldset select {
    width: 80%;
}

form fieldset select {
    height: 4em;
}

form fieldset input#shortcutKey {
    width: 10%;
}

form fieldset button#urlPatterns-add {
    margin-bottom: 1em;
}

form fieldset em {
    font-size: 0.9em;
}

form button#save {
    margin: 1em;
}

#status {
    display: none;
}
